@charset "utf-8";

body{
    background-color: #f2f2f2;
}
.space{
height: 10px;
}
#back{
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: -1; /* 他の要素よりも背面に配置 */
}
#mypage_header{
    width: 100%;
    position: fixed;
    z-index: 3; /* 他の要素よりも背面に配置 */
}
.mypagehead{
    background-color: #0F1035;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#menu{
    /* margin-top: 80px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#menu .menubutton{
    display: inline-flex;
    width: 130px;
    top: 80px;
    height: 50px;
    background-color: #9AC5F4;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    box-shadow: 3px 3px 3px 3px #555;
    z-index: 3;
    border-radius: 5px; /* 角丸 */
    color: #fff;
    text-decoration: none; /* 下線を非表示にする */
}
.k_menubutton{
    display: inline-flex;
    width: 150px;
    top: 80px;
    height: 50px;
    background-color: #9AC5F4;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    box-shadow: 3px 3px 3px 3px #555;
    z-index: 3;
    border-radius: 5px; /* 角丸 */
    color: #fff;
    text-decoration: none; /* 下線を非表示にする */
}
.personal{
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
}
.k_personal{
    /* margin-top: 40px; */
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
}
.user{
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
    /* display: flex; */
    height: 100%;
}
.left{
    width: 45%;
    height: 100%;
}
.k_left{
    width: 45%;
    height: 100%;
}
.haikei{
    background-color: rgba(255, 255, 255, 0.7); /* 白色で透過率50% */
    border-radius: 5px; /* 角丸 */
    /* display: inline-flex; */
    z-index: 1; /* 追加 */
    width: 100%;
    margin-bottom: 10px;
}
.obi_left{
    background-color: #0F1035;
    color: #fff;
    padding-left: 30px;
    /* margin-left: 50px; */
    height: 45px;
    align-items: center;
    width: 100%;
    margin-top: 0;
    display: inline-flex;
}
#smb_left{
    width: 100%;
}
#keireki{
    /* display: inline-flex; */
    align-items: center;
    width: 60%;
    margin-left: 40px;
    height: 100%;
    flex-direction: column; /* 子要素を縦に並べる */
}
.obi{
    background-color: #0F1035;
    color: #fff;
    padding-left: 30px;
    /* margin-left: 50px; */
    height: 45px;
    align-items: center;
    margin-top: 0;
    width: 100%;
    display: inline-flex;
    
}
.haikei2{
    background-color: rgba(255, 255, 255, 0.7); /* 白色で透過率50% */
    border-radius: 5px; /* 角丸 */
    width: 100%;
    height: 390px;
    /* display: flex; */
    /* overflow-y: scroll; */
}
.table_container{
    max-height: 200px; /* テーブルの最大高さ */
    overflow-y: auto; /* 垂直方向のスクロールが必要な場合にスクロールバーを表示 */
    overflow-x: scroll;
    padding-top: 0;
}
.table_container_forsmcb{
    max-height: 1600px; /* テーブルの最大高さ */
    overflow-y: auto; /* 垂直方向のスクロールが必要な場合にスクロールバーを表示 */
    overflow-x: scroll;
    padding-top: 0;
}
#keirekitable, #smbatable, #smbqtable, #usertable{
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}
table td {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}
#keirekitable thead, #smbatable thead, #smbqtable thead, #usertable thead{
    background-color: #9AC5F4;
    border-collapse: collapse;/* セル間の仕切り線を結合する */
    /* border: 1px solid #9AC5F4;  */
    background-color: #9AC5F4; /* ヘッダーの背景色 */
    position: sticky;
    top: 0; /* ヘッダーを画面の上部に固定 */

}
tbody{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* セルの下部に境界線を追加 */
    background-color: rgba(255, 255, 255, 0.7); /* 白色で透過率50% */
    border-radius: 5px; /* 角丸 */
}
table .chie_tbody {
    max-width: 300px; /* セルの最大幅を指定 */
    white-space: nowrap; /* テキストの折り返しを禁止 */
    overflow: hidden; /* テキストのオーバーフローを隠す */
    text-overflow: ellipsis; /* テキストがオーバーフローした場合に省略記号で表示 */
    text-align: right; /* 右寄せに設定 */
    word-wrap: break-word; /* テキストの折り返しを許可 */
}
#kaitou_smb{
    margin-left: 50px;
    margin-right: 50px;
    /* display: flex; */
    height: 400px;
}
.blue{
    background-color: #9AC5F4;
}
.chieblue1{
    background-color: #9AC5F4;
    width: 100px;
}
.chiehaikei{
    background-color: rgba(255, 255, 255, 0.7); /* 白色で透過率50% */
    border-radius: 5px; /* 角丸 */
    /* display: inline-flex; */
    z-index: 1; /* 追加 */
    width: 50%;
    margin-bottom: 10px;
}
.chieobi{
    background-color: #0F1035;
    color: #fff;
    padding-left: 30px;
    /* margin-left: 50px; */
    height: 40px;
    align-items: center;
    width: 50%;
    margin-top: 0;
    display: inline-flex;
}
.chieobi_ba{
    background-color: #0F1035;
    color: #fff;
    padding-left: 30px;
    /* margin-left: 50px; */
    height: 40px;
    align-items: center;
    width: 93%;
    margin-top: 0;
    display: inline-flex;
}
.chieobi_kaitou{
    background-color: gray;
    color: #fff;
    padding-left: 30px;
    /* margin-left: 50px; */
    height: 40px;
    align-items: center;
    width: 93%;
    margin-top: 0;
    display: inline-flex;
}
.henshin{
width: 40%
};
.comment {
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word; /* 古いブラウザ用のバージョン */
    text-align: right;
  }